
<section class="profileSection">
  <ul class="userProfile" id="products-home">
    <li class="profileItem">{{first_name}}</li>
  </ul>
</section>

<h1 class="pageTitle">List of users and their roles:</h1>

<ul class="productList">
  {{#each allUsers}}
    <li class="productTitle">
      USER: {{first_name}} {{last_name}} - ROLE:{{role}}
      <form
        
        action="/admin/{{_id}}"
        method="PUT"
      >
        <input type="text" name="role" placeholder="New Role" required>
        <button class="greenButton" type="submit">Edit Role</button>
      </form>
      <form
        action="/admin/{{_id}}"
        method="REMOVE"
      >
        <br>
        <button class="smallRedButton" type="submit">Remove User</button>
      </form>
      <br><br><br>
    </li>
  {{/each}}
</ul>

{{!-- <script src="/js/admin.js"></script> --}}