<section class="profileSection">
  <ul class="userProfile" id="products-home">
    <li class="profileItem">{{first_name}}</li>
  </ul>
</section>

<h1 class="pageTitle">List of users and their roles:</h1>

<ul class="productList">
  {{#each allUsers}}
    <li class="productTitle">
      USER: {{first_name}} {{last_name}} - ROLE:{{role}}
      <form action="api/admin/{{_id}}" class="editForm">
        <select name="role" required>
          <option value="">Select New Role</option>
          <option value="user" {{#if_eq role 'user'}}selected{{/if_eq}}>User</option>
          <option value="admin" {{#if_eq role 'admin'}}selected{{/if_eq}}>Admin</option>
        </select>
        <button class="greenButton" type="submit">Edit Role</button>
      </form>
      <form action="api/admin/{{_id}}" method="post" class="removeForm">
        <button class="smallRedButton" type="submit">Remove User</button>
      </form>
      <br><br><br>
    </li>
  {{/each}}
</ul>

<script src="/js/admin.js"></script>
