<!-- cart.handlebars -->
<div class="cartPageContainer">
  <h1 class="pageTitle">Products in cart</h1>

  <ul id="cartContainer">
    {{#each products}}
      <li class="itemCart">
        <br />
        {{!-- <img
          class="cartPicture"
          src="{{getFirstThumbnail thumbnails}}"
          alt="product image"
        /> --}}
        <h3 class="cartProductTitle">{{productId.title}}</h3>
        <p>Quantity: {{quantity}}</p>
        <p>Price per unit: {{formatPrice productId.price}} </p>
        <p>Total price: </p>
        {{!-- <p>{{productId.description}}</p> --}}
        
        <form
          onsubmit="removeProductFromCart(event, '{{../cartId}}', '{{this.productId._id}}')"
        >
          <button class="smallRedButton" type="submit">Remove from Cart</button>
        </form>
        <br />
      </li>
    {{/each}}
  </ul>
  <br />
  <div id="bottomCartDiv">
    <div id="cartTotal">
      <h2>Total: {{formatPrice total}}</h2>
    </div>
    <br>
    <div id="clearBuyCart">
      <button
        class="redButton"
        id="clearCart"
        onclick="removeCart(event, '{{cartId}}')"
      >Clear cart</button>

      <button
        class="greenButton"
        id="buyCart"
        type="submit"
        onclick="buyCart(event, '{{cartId}}')"
      >Buy cart</button>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/css/cart.css" />
<script src="/js/cart.js"></script>