<!-- cart.handlebars -->

<section class="profileSection">
  <ul class="userProfile" id="products-home">
    <li class="profileItem">{{user.first_name}}</li>
  </ul>
</section>

<h1 class="pageTitle">Products in cart</h1>

<ul class="productList">
  {{#each products}}
    <li class="productTitle">
      {{productId.title}}
      -
      {{formatPrice productId.price}}
      -
      {{productId.description}}
      - quantity:{{quantity}}
      units
      <form
        onsubmit="removeProductFromCart(event, '{{../cartId}}', '{{this.productId._id}}')"
      >
        <button class="smallRedButton" type="submit">Remove from Cart</button>
      </form>
    </li>
  {{/each}}
</ul>
<br>
<h2>Total: {{formatPrice total}}</h2>

<button class="redButton" id="clearCart" onclick="removeCart(event, '{{cartId}}')">Clear cart</button>

<button class="greenButton" type="submit" onclick="buyCart(event, '{{cartId}}')">Buy cart</button>

<link rel="stylesheet" href="/css/cart.css" />
<script src="/js/cart.js"></script>